.dropdown {
  width: 167px;
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  border: none;
  background-color: var(--color-transparent);
  font-size: 14px;
  color: var(--color-black);
  cursor: pointer;
}

.arrow {
  width: 8px;
  height: 11px;
  margin: 1px 0 0 8px;
  transition: all 0.3s;
}

.expanded {
  transform: rotate(180deg);
}

.list {
  display: none;
  width: 167px;
  margin-top: 5px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 2px #eef4fe, 0px 1px 2px #d0daeb;
  border-radius: 7px;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-black);
}

.show {
  display: block;
}

.item {
  padding: 6px 16px;
}

.item:active,
.item:focus,
.item:hover {
  background-color: var(--color-blue-light);
  cursor: pointer;
}
